<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h1>
      VALENDO: 1
    </h1>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="azul">
            1
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="azul">
            3
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="azul">
            6
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="azul">
            9
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="azul">
            12
          </ion-button>
        </ion-col>
      </ion-row>

      <br>
      <br>

      <ion-row>
        <ion-col>
           <ion-row>Time 1</ion-row>
          <ion-row>
            <ion-button color="success">+</ion-button>
          </ion-row>
          <ion-row>0</ion-row>
          <ion-row>
            <ion-button color="danger">-</ion-button>
          </ion-row>
        </ion-col>

        <ion-col>
          <ion-row>Time 2</ion-row>
         <ion-row>
           <ion-button color="success">+</ion-button>
         </ion-row>
         <ion-row>0</ion-row>
         <ion-row>
           <ion-button color="danger">-</ion-button>
         </ion-row>
       </ion-col>
      </ion-row>

    </ion-grid>
</ion-content>
