<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Marcador de Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<br>
<ion-content [fullscreen]="true">
  <ion-button [disabled]="true" class="btn" color="azul"><strong>VALENDO: 1</strong></ion-button>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="azul">
            1
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="azul">
            3
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="azul">
            6
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="azul">
            9
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="azul">
            12
          </ion-button>
        </ion-col>
      </ion-row>

      <br>
      <br>

      <ion-row class="botao">
        <ion-col>
          <ion-chip [disabled]="true"><strong>Time 1</strong></ion-chip>
          <ion-row>
            <ion-button color="success">+</ion-button>
          </ion-row>
          <ion-row> 0 </ion-row>
          <ion-row>
            <ion-button color="danger">-</ion-button>
          </ion-row>
        </ion-col>

        <ion-col>
          <ion-chip [disabled]="true"><strong>Time 2</strong></ion-chip>
         <ion-row>
           <ion-button color="success">+</ion-button>
         </ion-row>
         <ion-row> 0 </ion-row>
         <ion-row>
           <ion-button color="danger">-</ion-button>
         </ion-row>
       </ion-col>
      </ion-row>

    </ion-grid>

    <br>
    <br>

    <ion-card>
      <ion-card-header>
        <ion-card-title><strong>PARTIDAS GANHAS</strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label><strong>Time 1:</strong></ion-label>
          </ion-item>

          <ion-item>
            <ion-label><strong>Time 2:</strong></ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <br>
    <br>
    <br>
    <ion-button expand="block" color="danger" class="limpar">LIMPAR</ion-button>
</ion-content>
