<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Marcador de Truco </ion-title>
  </ion-toolbar>
</ion-header>

<br />
<ion-content class="ion-padding" [fullscreen]="true">

  <ion-button [disabled]="true" class="btn" color="azul"><strong>VALENDO: </strong></ion-button>

  <ion-grid>

    <ion-row class="valores">
      <ion-col><ion-button color="azul" (click)="mudar1()">1</ion-button></ion-col>
      <ion-col><ion-button color="azul" (click)="mudar2()">3</ion-button></ion-col>
      <ion-col><ion-button color="azul" (click)="mudar3()">6</ion-button></ion-col>
      <ion-col><ion-button color="azul" (click)="mudar4()">9</ion-button></ion-col>
      <ion-col><ion-button color="azul" (click)="mudar5()">12</ion-button></ion-col>
    </ion-row>

    <ion-row class="botao">
      <ion-col class="col-center">
        <ion-chip [disabled]="true"><strong>Time 1</strong></ion-chip>
        <ion-row>
          <ion-button color="verde" (click)="somar1()">+</ion-button>
        </ion-row>
        <ion-row>
          <ion-button [disabled]="true" color="azul"><strong>{{pontuacao1}}</strong></ion-button>
        </ion-row>
        <ion-row>
          <ion-button color="vermelho" (click)="sub1()">-</ion-button>
        </ion-row>
      </ion-col>
      <ion-col class="col-center">
        <ion-chip [disabled]="true"><strong>Time 2</strong></ion-chip>
        <ion-row>
          <ion-button color="verde" (click)="somar2()">+</ion-button>
        </ion-row>
        <ion-row>
          <ion-button [disabled]="true" color="azul"><strong>{{pontuacao2}}</strong></ion-button>
        </ion-row>
        <ion-row>
          <ion-button color="vermelho" (click)="sub2()">-</ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br />
  <br />

  <ion-card>
    <ion-card-title class="ion-text-center">PARTIDAS GANHAS</ion-card-title>
    <ion-card-content class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-label><strong>TIME 1</strong></ion-label>
        </ion-col>
        <ion-col><h1>0</h1></ion-col>
      </ion-row>
      <hr />
      <ion-row>
        <ion-col>
          <ion-label><strong>TIME 2</strong></ion-label>
        </ion-col>
        <ion-col><h1>0</h1></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <br />
  <ion-button expand="block" color="azul" class="limpar" (click)="limpar()">LIMPAR</ion-button>
</ion-content>
